.btn-primary {
	background: var(--duo-primary-color);
	border-color: var(--duo-primary-color);
}
/*user panel*/
.user-panel {padding: 20px 10px;}
a.user-panel>.info small{
	text-transform: uppercase;
	color: #5b5b5b;
}
.user-panel > .info p {
	color: #5b5b5b;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
	white-space: pre-wrap;
}
.user-panel > .info > a {font-size: 14px;}

/*sidebar*/
.sidebar-menu li > a {
	color: #5b5b5b;
	font-size: 16px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	transition: all ease 250ms;
	height: 50px;
	padding: 0px;
	display: block;
	line-height: 50px;
}
.sidebar-menu li > a > .fa {margin-right: 10px;width: 50px;text-align: center;}
.sidebar-menu .treeview-menu {padding: 0px;}
.sidebar-menu .treeview-menu > li > a {
	color: #747788;
	background-color: #f5f5f7;
	font-weight: 600;
	font-weight: 600;
	padding: 0px 0px 0px 20px;
	height: 50px;
	line-height: 50px;

}
.sidebar-menu li>a:hover{
	background: var(--duo-primary-color);
  color: #fff;
}
.sidebar{
	border-right: 1px solid rgba(25,25,25,0.1);
}
.sidebar-form, .sidebar-menu>li.header {font-size: 20px;font-weight: 600;}

/*main*/
.main-header .logo {background: var(--duo-primary-color);}
.main-header .logo .logo-mini {text-indent: -9999px;background-size: 100%;background: url(../../img/logo-brand.svg) center center no-repeat;width: 40px;height: 40px;transition: all 250ms;filter: brightness(0) invert(1);margin-left: -10px!important;margin-top: 5px;}
.main-header .logo .logo-lg {padding: 0px;text-indent: -9999px;background-size: contain;background-position: center center;background-repeat: no-repeat;width: 160px;height: 50px;margin: 0 auto;transition: all 250ms;filter: brightness(0) invert(1);}
.main-header .logo:hover .logo-lg {opacity: .8;}
.main-header .navbar{
    background-color: white;
    border-bottom: 1px solid var(--duo-primary-color);
    height: 49px;
    box-shadow: 0px 0px 2px var(--duo-primary-color);
}
.main-header .sidebar-toggle{
	color: var(--duo-primary-color);
}
.main-header .sidebar-toggle:hover{
	opacity: .8;
	color: var(--duo-primary-color);
}
.navbar-custom-menu>.navbar-nav>li>a{
	color: var(--duo-primary-color) !important;
	text-transform: uppercase;
	transition: all 250ms;
}
.navbar-custom-menu>.navbar-nav>li>a:hover{
	background: var(--duo-primary-color);
	color: white !important;
}
.user-header p{
	color: #5b5b5b !important;
}
.content,.content-header{
	background-color: #fff;
}
.content-header{
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 25px;
}
.content-header>.breadcrumb{
	background-color: transparent;
	margin-top: 15px !important;
}
.content-header h1{
	text-transform: uppercase;
	color: var(--duo-primary-color);
	font-weight: 900;
}
.content-header small{
	display: none !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: var(--duo-primary-color);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	border-top-color: var(--duo-primary-color);
	border-top-width: 3px;
}
.breadcrumb>.active{
	color: var(--duo-primary-color);
	font-weight: 600;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: var(--duo-primary-color);
	border-color: var(--duo-primary-color);
}
.dataTables_paginate{
	float: right !important;
}
.dataTables_filter input{
	border-radius: 5px;
	border-color: rgba(25,25,25,0.1);
}
.dataTables_filter input:focus{
	border-color: var(--duo-primary-color);
}
.box-header{
	margin-top: 15px;
}
.button_skin_duo{
	background-color: var(--duo-primary-color);
	color: white;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 20px !important;
	border-color: var(--duo-primary-color);
	box-shadow: 1px 1px 1px rgba(25,25,25,0.1);
}
.button_skin_duo:hover{
	background-color: #029ca0;
	color: white;
}
.float_left{
	float: left;
}
.form-horizontal .form-group input{
	border-radius: 5px;
	padding-top: 18px;
	padding-bottom: 18px;
}
.form-horizontal .form-group input:focus{
	border-color: var(--duo-primary-color);
}

.form-horizontal .form-group textarea{
	min-height: 150px;
	border-radius: 5px;
}
.form-horizontal .form-group label{
	text-transform: uppercase;
}
.img-thumbnail{
	width: 250px !important;
	height: 250px !important;
}
.table-bordered * img{
	width: 70px;
	height: 70px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(25,25,25,0.1);
}
.table-bordered tbody tr td {padding: 15px 0px 15px 8px;font-weight: 600;letter-spacing: -0.5px;font-size: 16px;}
.table-bordered tr th:last-child {text-align: center;}
.table-bordered tr td:last-child {text-align: center;padding: 0px;}
.table-bordered tr td:last-child .btn {
	border-radius: 50%;
	height: 42px;
	width: 42px;
	text-align: center;
	padding: 0px;
	transition: all 250ms;
	font-size: 16px;
}
.table-bordered tr td:last-child .btn:hover {box-shadow: 0px 0px 10px var(--duo-primary-color);border-color: transparent;transform: scale(1.05);}
.table-bordered tr td:last-child .btn .fa {line-height: 40px;}
.table-bordered tr td:last-child .btn + .btn {margin-left: 5px;}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05);
}


/*LOGIN*/
.login-page{
	background-color: #FFF;
}
.login-box-body{
	border-radius: 2px;
	border: 1px solid rgba(25,25,25,0.1);
	box-shadow: 3px 3px 30px rgba(25,25,25,0.1);
}
.button_entrar{
	background-color: var(--duo-primary-color);
	border-color: var(--duo-primary-color);
	font-weight: 600;
}
.button_entrar:hover{
	background-color: var(--duo-primary-color);
	border-color: var(--duo-primary-color);
}
.inpt_login{
	border-right: none !important;
}
.interessados img{
	width: 4vw;
	height: 4vw;
	border-radius: 50%;
	margin-right: 10px;
}
.button_enviar_msg{
	background-color: var(--duo-primary-color);
	border: 1px solid var(--duo-primary-color);
	width: 100px;
	color: white;
	font-weight: bold;
	height: 50px;
	border-radius: 0px 10px 10px 0px;
}
.button_enviar_msg:hover, .button_enviar_msg:focus, .button_enviar_msg:active, .button_enviar_msg:visited{
	background-color: var(--duo-primary-color);
	border: 1px solid var(--duo-primary-color);
	color: white;
	font-weight: bold;
	height: 50px;
	border-radius: 0px 10px 10px 0px;
}
.button_enviar_msg:focus{
	background-color: var(--duo-primary-color);
	border: 1px solid var(--duo-primary-color);
	color: white;
	font-weight: bold;
	height: 50px;
	border-radius: 0px 10px 10px 0px;
}
.inpt_enviar_msg{
	border-radius: 10px 0px 0px 10px;
	height: 50px;
}
.inpt_enviar_msg:focus{
	border-color: var(--duo-primary-color);
}
.mensagens .interessado{
	background-color: var(--duo-primary-color);
	color: white;
}
.mensagens .interessado::before{
	background-color: var(--duo-primary-color);
}
.imagem-modelo{
	height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.scrollbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 100px;
    overflow-y: scroll;
    width: 100%;
		border-radius: 5px;
		padding: 8px;
}

.box {border-color: var(--duo-primary-color)}
.box-body {padding: 16px;}
.table-add {color: var(--duo-primary-color);}

.frase {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    border-top: 2px solid var(--duo-primary-color);

    width: calc(33.33333% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: white;
    transition: all .4s ease;
    display: flex;
    align-items: center;
  }
  .card .icon {
    width: 60px;
    height: 60px;
    background-color: var(--duo-primary-color);
    display: flex;
    font-size: 26px;
    color: white;
    border-radius: 50%;
  }
  .card .icon i {
    margin: auto;
  }
  .card .numero {
    font-size: 38px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .card:hover {
    transform: scale(1.05);
  }
  @media(max-width: 900px) {
    .card {
      width: 100%;
    }
  }

  .form-group .form-control[type=color] {
	  padding: 0;
  }