/*
cores:
#d47e4c
#277f41
#0d6597
#5c8cb7

*/

.spacer{
  display:table;
  width:100%;
  padding:15px;
}

.single-dropzone .dz-preview{
	display:none;
}

.dz-error-mark svg, .dz-success-mark svg, .dz-details{
	display:none!important;
}

.session-return-wrapper{
  position:fixed;
  right:0px;
  bottom:0px;
  margin:30px;
  display:flex;
  justify-content: center;
}

.session-return-wrapper i.fa-times{
  cursor:pointer;
}

.session-return-success {
    border-radius: 5px;
    background-color: #5cb85c;
    padding: 9px;
    display: table;
    color: #fff;
    margin: 15px;
    font-size: 13px;
}

.session-return-error{
  background-color:#d9534f;
  border-radius: 5px;
  padding: 9px;
  display: table;
  color: #fff;
  margin: 15px;
  font-size: 13px;
}

.item+.item{
  margin-top:15px;
}

.carregando{
  width: 100%;
  height: 100%;
  left:0px;
  top:0px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.51);
  background-image: url(../img/load-carregando.gif);
  z-index: 9999;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}

/* ALERTAS */

.alerta{
	position:fixed;
	background:#fff;
	border-bottom:1px solid #ddd;
	display:table;
	margin:0;
	font-size:14px;
	font-weight: 300;
	bottom:15px;
	right:15px;
	z-index:9999;
	box-shadow:0px 3px 6px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 3px 6px rgba(0,0,0,0.1);
}

.alerta > div{
	display:table-cell;
	vertical-align: middle;
}

.alerta .titulo{
	font-weight: 600;
	margin:0;
	display:block;
	font-size:16px;
}

.alerta .fecha-alerta{
	display:table-cell;
	vertical-align:top;
	padding:10px;
	font-size:14px;
	display:block;
	color:#ccc;
}

.alerta .icone{
	color:#fff;
	padding:15px;
}

.alerta .text{
	padding:10px;
	width:240px;
	font-size:13px;
	color:#666;
}

.alerta-success{
	border:2px solid #4cae4c;
}

.alerta-success .titulo{
	color:#4cae4c;
}

.alerta-success .wrap-icone{
	background:#4cae4c;
}

.alerta-success .fecha-alerta:hover{
	color:#4cae4c;
}

.alerta-danger{
	border:2px solid #b72020;
}

.alerta-danger .titulo{
	color:#b72020;
}

.alerta-danger .wrap-icone{
	background:#b72020;
}

.alerta-danger .fecha-alerta:hover{
	color:#b72020;
}

.alerta-info{
	border:2px solid #0d4279;
}

.alerta-info .titulo{
	color:#0d4279;
}

.alerta-info .wrap-icone{
	background:#0d4279;
	margin-right:5px;
}

.alerta-info .fecha-alerta:hover{
	color:#0d4279;
}

.alerta-warning{
	border:2px solid #f0ad4e;
}

.alerta-warning .titulo{
	color:#f0ad4e;
}

.alerta-warning .wrap-icone{
	background:#f0ad4e;
}

.alerta-warning .fecha-alerta:hover{
	color:#f0ad4e;
}

.alerta.active{
	animation-name: alerta;
	animation-duration: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes alerta{
	0%{
		opacity:0;
		transform: translate(0,100%);
		-webkit-transform: translate(0,100%);
	}
	40%{
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
	}
	60%{
		transform: translate(0,0) rotate(-15deg);
		-webkit-transform: translate(0,0) rotate(-15deg);
	}
	70%{
		transform: translate(0,0) rotate(10deg);
		-webkit-transform: translate(0,0) rotate(10deg);
	}
	80%{
		transform: translate(0,0) rotate(-5deg);
		-webkit-transform: translate(0,0) rotate(-5deg);
	}
	90%{
		transform: translate(0,0) rotate(2deg);
		-webkit-transform: translate(0,0) rotate(2deg);
	}
	100%{
		opacity:1;
		transform: translate(0,0) rotate(0deg);
		-webkit-transform: translate(0,0) rotate(0deg);
	}
}


.table-add{
  display:block;
  width:100%;
  text-align:center;
  padding:10px 15px;
  border: 1px dashed #ccc;
    margin-top: 5px;
  color:#00a65a;
  transition:.3s;
  -webkit-transition:.3s;
}

.table-add:hover{
  padding:15px;
  background:rgba(0,0,0,0.01);
}

.th-action{
  width:10%!important;
}

.lista-galeria{
	background: rgba(0, 0, 0, 0.03);
}
.lista-galeria .item{
	width: 120px;
	float: left;
	margin: 5px;
	background: #fff;
	box-shadow: 2px 2px 10px;
	padding: 5px;
}
.lista-galeria .item .thumb{
	background-position: center center;
	background-size: 100%;
	height: 110px;
	width: 110px;
	margin-bottom: 5px;
}
.lista-galeria .item .icon{
	transition-duration: 0.5s;
	cursor: pointer;
}
.lista-galeria .item .icon:hover{
	color: #337ab7;
}

.taggle_input{
	border: 1px solid #e1e1e1;
}

.icone-viewer{
	display:flex;
	align-items: center;
	justify-content: center;
	width:20%;
	min-height: 60px;
}
#alerta {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
		width:0;
		height:0;
	  	visibility:hidden;
    }
}

.select2{
	width:100%!important;
}

.dataTables_filter{
	text-align: right;
	margin: 0 1% 1% 0;
}

.dataTables_filter input{
	margin-left:5px;
}

li:not(.active) a[data-toggle="pill"]{
	background-color: #efefef;
	border-top: 3px solid #e1e1e1!important;
}

.nav-pills li:not(.active) + li:not(.active){
	border-left: 1px solid #e1e1e1!important;
}
.taggle_placeholder{
	display:none;
}

.taggle_list{
	padding-left:0;
}

.cupom-head {
    display: table;
    width: 100%;
    background-color: #EEE;
	 border:1px solid #e1e1e1;
}

.cupom-head div + div {
    border-left:1px solid #e1e1e1;
}

.cupom-head div{
   padding:10px;
	text-align:center;
	font-weight: 600;
}


.cupom-item div + div{
	border-left:1px solid #f1f1f1;
}

.cupom-item{
	display:flex;
	width: 100%;
	align-items: center;
	background-color:#fafafa;
}

.cupom-item + .cupom-item{
	border-top:1px solid #f1f1f1;
}

.cupom-body{
	overflow-y:scroll;
	max-height:300px;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}

.cupom-item div{
	padding: 5px;
	background-color:#fafafa;
	text-align:center;
}

.control-value{
	padding:7px 0px;
}

.busca-cupom-box {
    float: right;
    padding: 7px;
	 max-width:210px;
}

.busca-cupom-box .sidebar-form{
    border-color: #fff;
	 margin:0;
}

.busca-cupom-box input, .busca-cupom-box button{
    background-color: #fafafa!important;
}

.actions-cupom{
	text-align: center;
	display: table;
	width:100%;
	margin:20px 0px;
}

.actions-cupom button{
	margin:5px;
	font-size:15px;
	font-weight: 600;
}

.interessados{
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.campo-mensagem{
	height: 34px;
}
.mensagens{
	max-height: 300px;
	overflow-y: auto;
}

.mensagens .msg{
	width: auto;
	background-color: #ccc;
	border-radius: 4px;
	padding: 2px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	position: relative;
}
.mensagens .msg p{
	margin: 0px;
}
.mensagens .dono{
	float: right;
	text-align: right;
	margin-right: 20px;
}
.mensagens .dono:after {
	content: ' ';
    width: 20px;
    height: 20px;
    background-color: #ccc;
    position: absolute;
    margin-right: -20px;
    transform: rotate(45deg);
    top: 50%;
    margin-top: -10px;
}
.mensagens .interessado:before {
	content: ' ';
    width: 20px;
    height: 20px;
    background-color: #ccc;
    position: absolute;
    margin-left: -20px;
    transform: rotate(45deg);
    top: 50%;
    margin-top: -10px;
}
.mensagens .interessado{
	float: left;
	margin-left: 20px;
}
.mensagens .clear{
	width: 100%;
	float: left;
}
.mensagens .content-mensagens{
	display: table;
}
.form-group h3{
    text-align: left;
    margin: 0px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    width: auto;
    display: table;
    padding: 5px 0px;
}

#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	z-index: 99999;
    width: 40px;
    display: none;

}

h1.pedido {
	text-transform: uppercase;
	color: #CCCCCC;
	text-align: right;
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CDDDDD;
}
.store {
	width: 100%;
	margin-bottom: 20px;
}
.div2 {
	float: left;
	display: inline-block;
}
.div3 {
	float: right;
	display: inline-block;
	padding: 5px;
}
.heading td {
	background: #E7EFEF;
}
.address, .product {
	border-collapse: collapse;
}
.address {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #CDDDDD;
	border-right: 1px solid #CDDDDD;
}
.address th, .address td {
	border-left: 1px solid #CDDDDD;
	border-bottom: 1px solid #CDDDDD;
	padding: 5px;
	vertical-align: text-bottom;
}
.address td {
	width: 50%;
}
.product {
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #CDDDDD;
	border-right: 1px solid #CDDDDD;
}
.product td {
	border-left: 1px solid #CDDDDD;
	border-bottom: 1px solid #CDDDDD;
	padding: 5px;
}



